<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE image/jpg
AddOutputFilterByType DEFLATE image/png
AddOutputFilterByType DEFLATE image/gif
AddOutputFilterByType DEFLATE image/jpeg
AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>
<IfModule mod_headers.c>
Header set Strict-Transport-Security: "max-age=63072000; includeSubDomains; preload"
</IfModule>
<IfModule mod_headers.c>
<FilesMatch"\.ico$">
# mise en cache du fichier ico durant 1 an (31536000 secondes)
Header set Cache-control "max-age=31536000"
</FilesMatch>
</IfModule>
<IfModule mod_headers.c>
<FilesMatch"\\.(ico|jpe?g|png|gif|swf|css|gz)$">
Header set Cache-control "max-age=2592000,public"
</FilesMatch>
<FilesMatch"\\.(html|htm)$">
# mise en cache du fichier ico durant 1 an (31536000 secondes)
Header set Cache-control "max-age=7200,public"
</FilesMatch>
</IfModule>